<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.emeter">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MyProfile" />
        <activity android:name=".activity.History" />
        <activity android:name=".activity.ScanReading" />
        <activity android:name=".activity.WelCome" />
        <activity android:name=".activity.BillDetail" />
        <activity android:name=".scanMeter.OcrCaptureActivity" />
        <activity android:name=".activity.Blank" />
        <activity android:name=".activity.ForgotPassword"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2caf5c60dd06d5c016a750340aa73ddcd53938a3" />
    </application>

</manifest>